<mat-toolbar class="mat-toolbar flex-row align-start-center gap-12">
  <div class="flex-row align-start-center flex-auto">
    <span>NG16 Material Legacy Sample</span>
  </div>

  <!-- hide text on xs, show small icon instead -->
  <div class="flex-none hide-xs show-gt-xs">
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/travel-booking">Travel Booking</button>
    <button mat-button routerLink="/users">Users</button>
  </div>

  <div class="flex-none show-xs hide-gt-xs">
    <button mat-button routerLink="/" matTooltip="Home"><mat-icon>home</mat-icon></button>
    <button mat-button routerLink="/travel-booking" matTooltip="Travel Booking"><mat-icon>flight</mat-icon></button>
    <button mat-button routerLink="/users" matTooltip="Users"><mat-icon>people</mat-icon></button>
  </div>
</mat-toolbar>

<div class="flex-column gap-16" style="padding: 16px;">
  <router-outlet></router-outlet>
</div>
